/* custom properties */
:root {
  --black-ninja: #222222;
  --red-ninja: #ca2128;
  --tuquoise-ninja: #42cbaa;
  --orange-ninja: #f66c45;
  --gray-ninja: #adbbc9;
  --pink-ninja: #fd8c8d;
  --blue-ninja: #1492e6;
  --contrast-text: #4d4d4d;
  --contrast-item: #808080;
  --background-card: #fbfbfb;
  --background-input: #808080;
  --size-title: 50px;
  --size-title-tablet: 40px;
  --size-title-mobile: 25px;
  --size-subtitle: 30px;
  --size-subtitle-mobile: 18px;
  --items-nav-footer: 16px;
  --caption: 10px;
  --input-label-titles: 14px;
  --cards-title: 36px;
  --cards-caption: 10px;
  --cards-body: 14px;
  --cards-feature-title: 12px; /*weight 600*/
  --cards-feature-description: 12px; /* weight 400*/
  --buttons: 16px;
  --buttons-2: 16px; /*line-height 24px*/
  --font-principal: "Poppins", sans-serif;
  --font-secondary: "Orbitron", sans-serif;
  --body: 20px;
  --body-mobile: 16px;
}

/* global features */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-principal);
  font-size: var(--body-mobile);
}

h1,
h2 {
  font-size: var(--size-title-mobile);
  font-family: var(--font-secondary);
}

h5 {
  font-size: var(--size-subtitle-mobile);
}

button {
  outline: none !important;
}

/* navbar section */

.navbar {
  background-color: var(--black-ninja);
  display: flex;
  flex-direction: row-reverse;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url(../assets/icons/hamburger-v.svg);
}

.img-logo {
  width: 89px;
  height: 62px;
}

.cart {
  border: 1px solid #ca2128;
  border-radius: 10px;
}

/* hero section */

.hero {
  background-image: url(../assets/backgrounds/rising-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

 .hero-layer {
  height: 100vh;
  background: linear-gradient(359.75deg);
  background-color: rgba(0, 0, 0, 0.5);
}

.titulo {
  padding-top: 50%;
}

.hero h1 {
  font-family: var(--font-secondary);
  font-size: var(--size-title-mobile);
  color: #ffffff;
}

/* Media queries */
@media only screen and (min-width: 768px) {

  /* global features */
  body {
    font-size: var(--body);
  }
  h1,
  h2 {
    font-size: var(--size-title);
  }
  h5 {
    font-size: var(--size-subtitle);
  }

  /* navbar section */

  .cart {
    width: 25%;
  }

  /* hero section */

  .hero h1 {
    font-size: var(--size-title-tablet);
  }

}

@media only screen and (min-width: 1024px) {

  /* navbar section */

  .navbar {
    display: flex;
    flex-direction: row;
  }

  .cart {
    border: none;
  }

  /* hero section */

  .hero {
    background-image: url(../assets/backgrounds/rising-desktop.jpg);
  }
        
  .hero h1 {
    font-size: var(--size-title);
  }

  .titulo {
    padding-top: 25%;
  }

}
